<!DOCTYPE html>
<html>
  <head>
    <title>Weather Forecast</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", root_path %>
    <%= link_to "Sydney", weather_path('sydney'), method: :post %>
    <%= link_to "Melbourne", weather_path('melbourne'), method: :post %>
    <%= yield %>
  </body>
</html>
